SignIn__Button__Color_Primary = #c9001a
SignIn__Button__Color_Secondary = #fff

.SignIn__Button
  display inline-block
  font-weight bold
  text-decoration: none
  color SignIn__Button__Color_Primary
  border 2.5px solid SignIn__Button__Color_Primary
  border-radius 8px
  text-align center
  padding .4rem
  width 8rem

  &:hover
    color SignIn__Button__Color_Secondary
    background-color SignIn__Button__Color_Primary
