

    div#main-logo LOGO

    nav.TopHeader__Account.TopHeader__Account.Navigator
      a(class="SignIn__Button" href="#", target="_blank") Sign In


      ul
        li
          a(href="#", target="_blank")
            p.Account__Button.Accou Try now for free
        li
          a(href="#", target="_blank")
            p.Account__Button Sign In

    nav.TopHeader__Menu
      ul
        li Features
        li Pricing
        li Docs

  p.
    abcdefg
    日本語

//- script setInterval(function (){window.location.reload()}, 2000);
