// BEM
//
// Block -> 塊
// Element -> 要素
// Modifier -> 状態 (keyとvalueで表す)
//
// BlockとElementの区切りはアンスコ2個（__）
// BlockまたはElementとModifierの区切りはハイフン2個（--）
// ModifierのKeyとValueの区切りはアンスコ1個(_)
// BlockやElementを2つ以上の単語で表す時はハイフン1個(-)

// ex)
// block
// block__element
// block__element--modifier


// block--modifier
// block--modifier__element

body
  // background-color #c9ced1
  font-family 'Merriweather', serif;
  font-weight 300
  font-size 16px

.TopHeader
  position fixed
  top 0
  width 96%
  height 70px

.TopHeader__Box
  border 1px solid #ddd
  border-top 0
  border-left 0
  border-right 0
  border-width 2px

  display flex
  justify-content center
  align-items center

// .TopHeader__Logo


.Navigator
  ul
    margin 0
    padding 0

    li
      display inline-block
      padding 0 2rem

    li:nth-child(n+2)
      border-left .1rem solid #555

.TopHeader__Menu
  font-size 1.2rem

  ul
    width 1000px;
    position absolute
    margin auto


// .TopHeader__Account
//   font-size 1rem
//   float right

.TopHeader__Box__Account
  position absolute
  right 0

.TopHeader__Box__Banner
  position absolute
  left 0

  display flex
  justify-content center
  align-items center

.TopHeader__Box__Banner__Img
  height 50px
  margin-right 1rem

.TopHeader__Box__Menu
  nav
    ul
      li
        font-size 14px
        font-weight 800
        letter-spacing .5px
        margin-left 2rem
        margin-right 2rem
        display inline-block


SignIn__Button__Color_Primary = #c9001a
SignIn__Button__Color_Secondary = #fff

.SignIn__Button
  display inline-block
  font-weight bold
  text-decoration: none
  color SignIn__Button__Color_Primary
  border 2.5px solid SignIn__Button__Color_Primary
  border-radius 8px
  text-align center
  padding .4rem
  width 8rem

  &:hover
    color SignIn__Button__Color_Secondary
    background-color SignIn__Button__Color_Primary




// SignIn__Button__Color = #c9001a
// SignIn__Button__ColorSub = #fff
//
// .SignIn__Button
//   color SignIn__Button__Color
//   font-color SignIn__Button__Color
//   border 2.5px solid SignIn__Button__Color
//   border-radius 8px
//   text-align center
//   padding .4rem
//   width 5rem
//   text-decoration: none

//   &:hover
//     color: SignIn__Button__ColorSub
//     background-color SignIn__Button__Color

  // display inline-block
  // text-align center
  // background-color #97d545
  // border-radius 24px
  // width 240px
  // height 50px
