doctype html
head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="./common.css" type="text/css")


body
  header.TopHeader.TopHeader__Box
    div.TopHeader__Box__Banner
      img(class="TopHeader__Box__Banner__Img", alt="DumpCar" src="http://free-illustrations-ls01.gatag.net/images/lgi01a201405031000.jpg")
      span DumpCar

    div.TopHeader__Box__Account
      a(class="SignIn__Button" href="#", target="_blank") Sign In

    div.TopHeader__Box__Menu
      nav
        ul
          li
            a Features
          li
            a Pricing
          li
            a Docs
          li
            a Support
