doctype html
head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="./common.css" type="text/css")


body
  header.TopHeader.TopHeader__Box
    //- div#main-logo LOGO

    nav.TopHeader__Account.Navigator
      ul
        li
          a(href="#", target="_blank") Try now for free
        li
          a(href="#", target="_blank") Sign In

    nav.TopHeader__Menu
      ul
        li Features
        li Pricing
        li Docs
    p test


  //- p.
  //-   abcdefg
  //-   日本語

//- script setInterval(function (){window.location.reload()}, 2000);
